<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="js/store.js" async></script>
 
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file cdn link  -->
    <link rel="stylesheet" href="css/style.css">
  
    
    <script>
        var stripePublicKey = '<%= stripePublicKey %>'
    </script>

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <a href="#" class="logo"> <i class="fas fa-utensils"></i> HealthyTale </a>

    <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="searchBox">
        <label for="searchBox" class="fas fa-search"></label>
    </form>

    <div class="icons">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-share" id="theme-btn"></div>
        <div class="fas fa-user" id="login-btn">  <a href="#login.html"></a></div>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#packages">packages</a>
        <a href="#services">services</a>
        <a href="#pricing">pricing</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
        <a href="#blogs">blogs</a>
        <a href="profile.html">Profile</a>
    </nav>

     
</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="image" data-aos="fade-down">
        <img src="images/home-img-2.png">
    </div>

    <div class="content" data-aos="fade-up">
        <h3>Most Healthy & Tasty food For You!</h3>
        <p>Eat healthy, be nutrition wealthy.</p>
        <a href="#" class="btn">explore now</a>
    </div>

</section>

<!-- home section ends -->

<!-- filter form section starts  -->

<section class="form-container" data-aos="zoom-in">

    <form action="">

        <div class="inputBox">
            <span>where</span>
            <input type="text" placeholder="search places">
        </div>

        <div class="inputBox">
            <span>When</span>
            <input type="date">
        </div>

        <div class="inputBox">
            <span>Time</span>
            <input type="time">
        </div>

        <input type="submit" value="book now" class="btn">

    </form>

</section>

<!-- filter form section ends -->

<!-- packages section starts  -->

<section class="packages" id="packages">


    <h1 class="heading">  <span>Breakfast</span> menue </h1>

    <div class="box-container">
        <% items.Breakfast.forEach(function(item) { %>

            <div class="box" data-aos="fade-up" data-item-id="<%= item.id %>">
    
                <img class="image" src="images/<%= item.imgName %>">
                <div class="content">
                    <div class="price"> $<%= item.price / 100 %> <span></span> </div>
                    <span class="shop-item-title"> <p><%= item.name %> </p></span>
                    <button class="btn btn-primary shop-item-button" type="button">Order now</button>
                </div>
            </div>

       <% }) %>
       

       
        

        

    </div>

</section>

<section class="packages" id="packages">

    <h1 class="heading">  <span>Lunch & dinner</span> menue</h1>

    <div class="box-container">

        <% items.LunchDinner.forEach(function(item) { %>

            <div class="box" data-aos="fade-up" data-item-id="<%= item.id %>">
    
                <img class="image" src="images/<%= item.imgName %>">
                <div class="content">
                    <div class="price"> $<%= item.price / 100 %> <span></span> </div>
                    <span class="shop-item-title"> <p><%= item.name %> </p></span>
                    <button class="btn btn-primary shop-item-button" type="button">Order now</button>
                </div>
            </div>

       <% }) %>
    </div>

</section>


<!-- end of dinner menu -->

<section class="packages" id="packages">

    <h1 class="heading"> Our  <span>Desserts</span>  </h1>

    <div class="box-container">

        <% items.Desserts.forEach(function(item) { %>

            <div class="box" data-aos="fade-up" data-item-id="<%= item.id %>">
    
                <img class="image" src="images/<%= item.imgName %>">
                <div class="content">
                    <div class="price"> $<%= item.price / 100 %> <span></span> </div>
                    <span class="shop-item-title"> <p><%= item.name %> </p></span>
                    <button class="btn btn-primary shop-item-button" type="button">Order now</button>
                </div>
            </div>

       <% }) %>
        

    </div>

</section>


<!-- packages section ends -->
 

<!-- pricing section starts  -->

<section class="pricing" id="pricing">

    <h1 class="heading"> our <span>pricing</span> </h1>

    <div class="box-container">

        <div class="box" data-aos="zoom-in-up">
            <h3> basic plan </h3>
            <div class="price">
                <span>$</span>
                <span class="amount">89</span>
                <span>/mo</span>
            </div>
            <ul>
                <li>7  days</li>
                <li>2 meals</li>
                
                
                <li>Extra fee for Delivery </li>
            </ul>
            <a href="#" class="btn">choose plan</a>
        </div>

        <div class="box" data-aos="zoom-in-up">
            <h3> standard plan </h3>
            <div class="price">
                <span>$</span>
                <span class="amount">140</span>
                <span>/mo</span>
            </div>
            <ul>
                <li>14 days</li>
               
                <li>2 meals</li>
                
                <li>free Delivery </li>
            </ul>
            <a href="#" class="btn">choose plan</a>
        </div>

        <div class="box" data-aos="zoom-in-up">
            <h3> premium plan </h3>
            <div class="price">
                <span>$</span>
                <span class="amount">300</span>
                <span>/mo</span>
            </div>
            <ul>
                <li>30 days</li>
                
                <li>3 meals</li>
                <li>1 Dessert</li>
                <li>free Delivery </li>
            </ul>
            <a href="#" class="btn">choose plan</a>
        </div>

    </div>

</section>

<!-- pricing section ends -->

<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading"> client's <span>review</span> </h1>

    <div class="swiper-container review-slider" data-aos="zoom-in">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <img src="images/pic-1.png" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur sunt eligendi est, dicta maiores amet nihil perferendis, incidunt maxime aspernatur exercitationem laboriosam odio dolores magnam ratione atque, quasi odit. Hic!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide slide">
                <img src="images/pic-2.png" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur sunt eligendi est, dicta maiores amet nihil perferendis, incidunt maxime aspernatur exercitationem laboriosam odio dolores magnam ratione atque, quasi odit. Hic!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide slide">
                <img src="images/pic-3.png" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur sunt eligendi est, dicta maiores amet nihil perferendis, incidunt maxime aspernatur exercitationem laboriosam odio dolores magnam ratione atque, quasi odit. Hic!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide slide">
                <img src="images/pic-4.png" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur sunt eligendi est, dicta maiores amet nihil perferendis, incidunt maxime aspernatur exercitationem laboriosam odio dolores magnam ratione atque, quasi odit. Hic!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

        </div>

      

    </div>

</section>

<!-- review section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

    <form class="loginForm" id="form" action="/">

        <div class="inputBox">
            <input type="text" placeholder="name" id="name" data-aos="fade-up" required>
            <div class="error"></div>
            <input type="email" placeholder="email" id="email" data-aos="fade-up" required>
            <div class="error"></div>
    
            <input type="text" placeholder="Phone number" id="number" data-aos="fade-up" required>
            <div class="error"></div>
            <input type="text" placeholder="subject" id="subject" data-aos="fade-up" required>
            <div class="error"></div>
        </div>

        <textarea name="" placeholder="your message" id="message" cols="30" rows="10" data-aos="fade-up"></textarea required>
        
        
        <button type="submit" class="btn"> send message </button>

    </form>

</section>

<!-- contact section ends -->

<!-- blog section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> our <span>blogs</span> </h1>

    <div class="box-container">

        <div class="box" data-aos="fade-up">
            <div class="image">
                <img src="images/menu-8.jpg" alt="">
            </div>
            <div class="content">
                <h3>What is Granola, and how many gram of protin has?</h3>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 1st Dec, 2022 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-up">
            <div class="image">
                <img src="images/menu-3.jpg" alt="">
            </div>
            <div class="content">
                <h3>How to eat tasty food and still healthy ?</h3>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 17th Nov, 2022 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
            </div>
        </div>

        <div class="box" data-aos="fade-up">
            <div class="image">
                <img src="images/menu-5.jpg" alt="">
            </div>
            <div class="content">
                <h3>Did you know these facts about peanut butter?</h3>
                <a href="#" class="btn">read more</a>
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 24th oct, 2022 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- blog section ends -->

 <!-- cart page starts here -->

<section class="container content-section">
    <h2 class="heading">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
</section>

 <!-- cart page ends here -->

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box" data-aos="fade-up">
            <h3>our branches</h3>
            
            <a href="#"> <i class="fas fa-map-marker-alt"></i>Gombak </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i>wangsa maju </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i>Ara Damansara </a>
        </div>

        <div class="box" data-aos="fade-up">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i> home </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> packages </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> services </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> pricing </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> review </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> contact </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> blogs </a>
        </div>

        <div class="box" data-aos="fade-up">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#"> <i class="fas fa-envelop"></i> HealthyTale@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Kuala Lumpre, Malaysia - 53100 </a>
        </div>

        <div class="box" data-aos="fade-up">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
        </div>

    </div>


</section>

<!-- footer section ends -->























<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

<script>

AOS.init({
    duration:800,
    delay:400
});

</script>

</body>
</html>